name: Deploy to Production

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy application via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          password: ${{ secrets.VM_PASSKEY }}
          port: 22
          script: |
            cd ${{ secrets.VM_PWD }}

            git checkout .
            git pull origin develop -f

            docker compose down --remove-orphans

            rm -f .env

            printf 'DEBUG=%s\n' '${{ secrets.DEBUG }}' >> .env
            printf 'POSTGRES_USER=%s\n' '${{ secrets.POSTGRES_USER }}' >> .env
            printf 'POSTGRES_PASSWORD=%s\n' '${{ secrets.POSTGRES_PASSWORD }}' >> .env
            printf 'DB_PORT=%s\n' '${{ secrets.DB_PORT }}' >> .env
            printf 'SECRET_KEY=%s\n' '${{ secrets.SECRET_KEY }}' >> .env
            printf 'CORS_ALLOW_ALL_ORIGINS=%s\n' '${{ secrets.CORS_ALLOW_ALL_ORIGINS }}' >> .env
            printf 'PRODUCTION=%s\n' 'True' >> .env

            printf 'SYSTEM_URL=%s\n' '${{ secrets.SYSTEM_URL }}' >> .env

            printf 'VITE_SYSTEM_URL=%s\n' '${{ secrets.VITE_SYSTEM_URL }}' >> .env
            printf 'VITE_ENV=%s\n' '${{ secrets.VITE_ENV }}' >> .env

            printf 'SUPERSET_URL=%s\n' '${{ secrets.SUPERSET_URL }}' >> .env
            printf 'SUPERSET_USERNAME=%s\n' '${{ secrets.SUPERSET_USERNAME }}' >> .env
            printf 'SUPERSET_PASSWORD=%s\n' '${{ secrets.SUPERSET_PASSWORD }}' >> .env

            cd portal
            rm -f .env*
            rm -rf dist

            printf 'VITE_SYSTEM_URL=%s\n' '${{ secrets.VITE_SYSTEM_URL }}' >> .env
            printf 'VITE_ENV=%s\n' '${{ secrets.VITE_ENV }}' >> .env
            printf 'VITE_DEBUG=%s\n' '${{ secrets.VITE_DEBUG }}' >> .env
            printf 'VITE_SYSTEM_URL=%s\n' '${{ secrets.VITE_SYSTEM_URL }}' >> .env.development

            printf 'SUPERSET_URL=%s\n' '${{ secrets.SUPERSET_URL }}' >> .env
            docker compose build

            docker compose up -d
