name: Lint and Test

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create .env file for Docker Compose
        run: |
          printf 'SECRET_KEY=%s\n' '${{ secrets.SECRET_KEY }}' >> .env
          printf 'PRODUCTION=%s\n' 'False' >> .env
          printf 'DEBUG=%s\n' '${{ secrets.DEBUG }}' >> .env
          printf 'ADMIN_PASSWORD=%s\n' '${{ secrets.ADMIN_PASSWORD }}' >> .env

          printf 'SYSTEM_URL=%s\n' '${{ secrets.SYSTEM_URL }}' >> .env

          printf 'POSTGRES_USER=%s\n' '${{ secrets.POSTGRES_USER }}' >> .env
          printf 'POSTGRES_PASSWORD=%s\n' '${{ secrets.POSTGRES_PASSWORD }}' >> .env
          printf 'DB_PORT=%s\n' '${{ secrets.DB_PORT }}' >> .env
          printf 'CORS_ALLOW_ALL_ORIGINS=%s\n' '${{ secrets.CORS_ALLOW_ALL_ORIGINS }}' >> .env

          printf 'VITE_DEBUG=%s\n' '${{ secrets.VITE_DEBUG }}' >> .env
          printf 'VITE_ENV=%s\n' 'prod' >> .env
          printf 'VITE_SYSTEM_URL=%s\n' '${{ secrets.VITE_SYSTEM_URL }}' >> .env

          printf 'EMAIL_BACKEND=%s\n' '${{ secrets.EMAIL_BACKEND }}' >> .env
          printf 'EMAIL_HOST=%s\n' '${{ secrets.EMAIL_HOST }}' >> .env
          printf 'EMAIL_PORT=%s\n' '${{ secrets.EMAIL_PORT }}' >> .env
          printf 'EMAIL_USE_SSL=%s\n' '${{ secrets.EMAIL_USE_SSL }}' >> .env
          printf 'EMAIL_HOST_USER=%s\n' '${{ secrets.EMAIL_HOST_USER }}' >> .env
          printf 'EMAIL_HOST_PASSWORD=%s\n' '${{ secrets.EMAIL_HOST_PASSWORD }}' >> .env
          printf 'DEFAULT_FROM_EMAIL=%s\n' '${{ secrets.DEFAULT_FROM_EMAIL }}' >> .env

      - name: Build Docker images
        run: |
          docker compose build lint db test

          docker compose up --build -d lint db test

      - name: Tear down containers
        run: docker compose down --remove-orphans
